.textarea {
    resize: none;
}

.seperated + .seperated:before{
    content:"";
    height:1px;
    background:-moz-linear-gradient(left, #FFFFFF 0%,#000000 50%,#FFFFFF 100%);
    background:-webkit-linear-gradient(left, #FFFFFF 0%,#000000 50%,#FFFFFF 100%);
    background:linear-gradient(left, #FFFFFF 0%,#000000 50%,#FFFFFF 100%);
    width:100%;
    display:block;
}

.createdDate {
    color: #9197a3;
    font-size: small;
}

.topPanel {
    position: fixed;
    background-color: #adb7c3;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1030;
}
